/* Universal Selector */
* {
    padding: 0;
    margin: 0;
  }



/* Element Selectors */
body {
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    background-color: #FAEBD7;
    color: #2F4F4F;
}

h1,
h2 {
    margin: 18px;
}

main {
    padding: 60px 0;
}

li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #F0F8FF;
}

header,
footer {
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: #2e3b37;
}

header {
    position: fixed;
    border-bottom: 10px solid #12a3a3;
}

footer {
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid #12a3a3;
    color: #F0F8FF;
}

figure {
    margin-bottom: 40px;
}

img {
    display: block;
    margin: 20px auto;
}

section {
    margin-bottom: 0;
    padding: 20px 10px 40px 10px;
    border-top: 3px solid #12a3a3;
    background-color: #F0F8FF;
}

form {
    margin: 0 auto;
    width: 500px;
    padding: 10px;
    border: 5px solid #12a3a3;
    border-radius: 20px;
}

label {
    display: inline-block;
    width: 100px;
}

input
 {
    box-sizing: border-box;
    width: 300px;   
}

button {
    height: 40px;
    width: 120px;
    background-color: #2F4F4F;
    color: #FAEBD7;
}

/* Class Selectors */
.text {
    text-align: center;
}

.text-form {
    text-align: right;
}

